@import url("font-awesome.min.css");
@import url( 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
}
/*STYLE*/

/*Sibling Parent*/
.row > *{
	float: left;
	border-bottom: 1px solid transparent;
	box-sizing: border-box;
}
.wrapper{
	background: url(../../images/back.jpg);
	font-family: Open Sans;
}
.container{
	width: 100%;
	max-width: 1200px;
	margin:  0 auto;
}
header{
	margin: 60px 0 50px;
	position: relative;
}
#logo{
	display: inline-block;
}
nav{
	position: absolute;
	right: 0;
	top: 0;
	display: inline-block;
	margin-top: 20px;
}
nav ul li{
	display: inline;
	padding-right: 20px;
}
nav ul li a{
	color: black;
	padding: 8px 15px;
	font-weight: bold;
	font-size: 12px;
	transition: all 0.4s linear;
}
li.active a{
	color: white;
	background-color: black;
	border-radius: 5px;
}
nav ul li:hover a{
	color: white;
	background-color: black;
	border-radius: 5px;
}
#slider{
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.1);
	margin-bottom: 45px;
	position: relative;
	padding-bottom: 45px;
}
.heading{
	display: inline-block;
}
.heading h1{
	font-size: 60px;
	font-weight: bold;
	display: inline-block;
	margin: 80px 0px 0px 70px;
}
.heading h2{
	font-size: 47px;
	margin:  0 0 80px 70px;
}
.button{
	position: absolute;
	right: 0;
	top:0;
	margin: 100px 130px 10px 0px;
}
.button a{
	font-size: 30px;
	font-weight: bold;
	background-color: #0090c5;
	color: white;
	border-radius: 5px;
	width: 100%;
	display: block;
	padding: 10% 15%;
}
.button ul li{
	margin-bottom: 20px;
}
.button a:hover{
	background-color: #229bc8;
}
.button a.moreinfo{
	color: black;
	background-color: #f3f3f3;
}
.button a.moreinfo:hover{
	background-color: #efeded;
 }
.big{
	position: relative;	
}
li a.icon:before{
	content: "\f18e";
	position:absolute;
	right: 0.75em;
	font-family: fontawesome;
}
li a.icon2:before{
	content: "\f059";
	position: absolute;
	right: 0.75em;
	font-family: fontawesome;
}
.size{
	clear: both;
	display: table;
}
.box1{
	width: 31.333%;
	display: inline-block;
	border-radius: 5px;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.1);
	background-color: white;
	margin-right: 3%;
}
.inner{
	padding: 10% 5%;
}
.box1 a > img{
	width: 100%;
	border-radius: 5px 5px 0px 0px;
}
h4{
	font-size: 24px;
	font-weight: bold;
	padding:0;
}
.wrapper p{
	color: #777b7b;
	line-height: 35px;
}
.box1:last-child{
	margin-right: 0;
}
.back{
	background-color: white;
	display: inline-block;
	width: 100%;
	margin-top: 40px;
	padding: 5% 0%;
}
article{
	width: 33.333%;
}
section{
	width: 58.666%;
}
.s-box ul{
	margin-top: 40px;
}
.s-box ul li{
	display: inline;
	margin-top: 20px;
	margin-right: 20px;
	line-height: 50px;
}
.s-box ul li a img{
	border-radius: 5px;
	width: 40%;
}
.btn{
	background-color: #0090c5;
	display: inline-block;
	padding: 10px 20px;
	border-radius: 5px;
}
.btn a{
	color: white;
	border-radius: 5px;
	font-weight: bold;
}
.right h2{
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
}
.box2{
	width: 22%;
	margin-right: 25px;
	margin-top: 60px;
}
.box2:last-child{
	margin-right: 0px;
}
.box2 h4{
	margin-bottom: 20px;
}

.box2 ul li a{
	text-decoration: underline;
	line-height: 40px;
	color: #696969;
}
ul.social li{
	display: inline-block;
	font-size: 40px;
	margin-right: 10px
}
.footer-end{
	width: 100%;
	text-align: center;
	display: inline-block;
	margin: 60px 0px;

}
#icon{
	display: none;
}
/*-----------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 1280px){
	.button{
		position: relative;
		display: inline-block;
		margin: 0 auto;
		text-align: center;
		width: 100%;
		bottom: 0;
	}
	.button ul{
		display: inline-block;
	}
	.button ul li{
		float: left;
		width: 300px;
		margin: 0;
		margin-right: 25px;
	}
	.button ul li a{
	    font-size: 25px;
	    max-width: 300px;
	    display: block;
	    padding: 5% 0;
	    width: 100%;
	    text-align: center;
	}
	.heading{
		width: 100%;
		text-align: center;
	}
	.heading h1{
		font-size: 40px;
		font-size: 8vh;
		margin: 80px 0px 0px 70px;
	}
	.heading h2{
		font-size: 30px;
		font-size: 5vh;
		line-height: 30px;
		margin: 5px 0 24px 70px;
	}
	li a.icon:before{
		top: 18px;
	}
	li a.icon2:before{
		top: 18px;
	}
}
@media only screen and (max-width: 768px){
	.button{
		position: relative;
		display: block;
		margin: 0 auto;
		width: 100%;
		max-width: 300px;
	}
	.button a{
	    padding: 5% 0;
	    width: 100%;
	    max-width: 300px;
	    display: block;
	    font-size: 16px;
	    text-align: center;
	}
	.heading{
		width: 100%;
		text-align: center;
	}
	.heading h1{
		font-size: 34px;
		margin: 30px 0px 10px;
	}
	.heading h2{
		font-size: 24px;
		margin: 0 0 20px;
	}
	li a.icon:before{
		top: 18px;
	}
	li a.icon2:before{
		top: 18px;
	}
	.box1, .box1:last-child{
		width: 70%;
		text-align: center;
		margin: 10px auto;
		display: block;
	}
	article{
		width: 50%;
	}
	section{
		width: 50%;
		}
	.box2{
		width: 45%;
	}
}
@media only screen and (max-width: 590px){
	article{
		width: 100%;
		margin-bottom: 0px;
	}
	section{
		width: 100%;
	}
	.box2{
		width: 43%;
	}
}
@media only screen and (max-width: 414px){
	.box2{
		width: 100%;
		text-align: center;
	}
}
@media only screen and (max-width: 768px){
	#navigation{
		display: none;
	}
	a#icon{
		display: inline-block;
		color:white;
		background-color:black;
		padding: 5px 20px; 
		font-size: 20px;
		border-radius: 5px;
	}
	ul.responsive{
		background-color: black;
		position: relative;
		z-index: 9999;
		width: 200px;
		margin: 10px 0px;
		padding: 10px;
		border-radius: 10px; 
	}
	ul.responsive li{
		display: block;
		padding-right: 0px;
		margin: 15px 0;
		text-align: center;
	}
	ul.responsive li a{
		color: white;
	}
	nav{
		text-align: right;
		margin-top: 0;
	}
	ul.responsive li:hover a{
		color: white;
		background-color:#ff4488;
		border-radius: 5px; 
	}
}
img:hover{
	opacity: 0.9;
}